
body, html{
  margin: 0;
  background: black;
  font-family: 'Caveat', cursive;
  height: 100%;
  margin: 0;
}
h1{
  text-align: center;
  font-size: 45px;
  color:white;
}
.container-all{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  background-color: black;
  padding: 0px;
  height: 100%;
}
.container{
  
  overflow:hidden;
  vertical-align: middle;
  height: fit-content;
  margin:3px;
  padding: 0;
  
  position:relative;
  float:left;
  
}
img{
  
  transition-duration: .3s;
  max-width: 100%;
  max-height: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
  
  margin-left: auto;
  margin-right: auto;
}
.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
  font-size: 50px;
}
.text{
  position:absolute;
  top: 70%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.container:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.container:hover span{
  color:white;
  display: block;
  transition-duration: .3s;

}
@media only screen and (max-width: 900px) {
    .container {
        width: calc(50% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}
.center {
  width: 25%; 
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;    
  }
